<input ng-model="ctrl1.search1" placeholder="Enter player1 name">
<button ng-click="ctrl1.search()">Search</button>
<!-- <button ng-click="list1({s:ctrl.search1})">Search</button> -->

<!-- <input ng-model="searchText"> -->
<!-- <button ui-sref="list1({s:search1})">Search1</button> -->
<ul ng-show="ctrl1.showSearch">
  <li ng-repeat="player in ctrl1.results | filter: ctrl1.searchString | filter:ctrl1.search1">  <!-- ng-if="player.displayName | orderBy: player.displayName" -->
    <a ui-sref="player1({id:player.playerId})">
        {{ player.displayName }}
    </a>
  </li>
</ul>



<!-- <input ng-model="ctrl2.search2" placeholder="Enter player2 name">
<button ui-sref="list2({s:ctrl2.search2})">Search</button> -->




<p>{{ ctrl.hello }}</p>
